:root {
  --light: rgb(255, 255, 255);
  --dark: rgb(32, 33, 36);
  --overlay-light: rgba(95, 99, 104, 0.157);
  --overlay-dark: rgba(154, 160, 166, 0.157);
  --active-light: rgb(254, 239, 195);
  --active-dark: rgb(65, 51, 28);
}

.bg-light {
  background-color: var(--light) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.text-light {
  color: var(--light) !important;
}

.text-dark {
  color: var(--dark) !important;
}

.icons {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  opacity: 0.9;
  cursor: pointer;
}

.nav-link {
  border-radius: 5px;
  opacity: 0.9;
  cursor: pointer;
}

.active-light {
  opacity: 1;
  background-color: rgb(254, 239, 195);
}

.active-dark {
  opacity: 1;
  background-color: rgb(65, 51, 28);
}

.hover-light:hover {
  opacity: 1;
  background-color: var(--overlay-light);
  transition: all 200ms;
}

.hover-dark:hover {
  opacity: 1;
  background-color: var(--overlay-dark);
  transition: all 200ms;
}

.hover-light:active {
  background-color: rgb(254, 239, 195);
}

.hover-dark:active {
  background-color: rgb(65, 51, 28);
}

.input-text-light:focus {
  border-color: var(--active-light) !important;
  box-shadow: 0 0 inset, 0 0 6px rgb(212, 212, 35) !important;
}

.input-text-dark:focus {
  border-color: var(--active-dark) !important;
  box-shadow: 0 0 inset, 0 0 6px rgb(255, 255, 90) !important;
}

.card-light:hover {
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  transition: all 300ms;
}

.card-dark:hover {
  filter: drop-shadow(0 20px 13px rgba(255, 255, 255, 0.03)) drop-shadow(0 8px 5px rgba(255, 255, 255, 0.08));
  transition: all 300ms;
}

.navbar-dropShadow-dark {
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

.navbar-dropShadow-light {
  filter: drop-shadow(0 1px 2px rgba(255, 255, 255, 0.1)) drop-shadow(0 1px 1px rgba(255, 255, 255, 0.06));
}

.btn-light {
  color: var(--dark);
  background-color: var(--active-light);
  border: none;
}

.btn-dark {
  color: var(--light);
  background-color: var(--active-dark);
  border: none;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: none !important;
}

.btn-light:active {
  background-color: var(--overlay-light) !important;
}

.btn-dark:active {
  background-color: var(--overlay-dark) !important;
}

.tag{
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 11px;
  background-color: var(--active-light);
}

label{
  cursor: pointer;
}

input:disabled{
  border: 2px solid rgb(255, 140, 140) !important;
  opacity: 0.6 !important;
}

.profile-border{
  border: 2px solid rgb(140, 224, 179) !important;
}